@import "core/variables";

.navbar-brand{
	color:$dark-color;
	transition:$transition;
    -webkit-transition:$transition;
    -o-transition:$transition;
    -moz-transition:$transition;
	span{
		color:$primary-color;
		transition:$transition;
        -webkit-transition:$transition;
        -o-transition:$transition;
        -moz-transition:$transition;
	}
	&:hover{
		color:$primary-color !important;
		transition:$transition-hover;
        -webkit-transition:$transition-hover;
        -o-transition:$transition-hover;
        -moz-transition:$transition-hover;
		span{
			color:$dark-color !important;
			transition:$transition-hover;
            -webkit-transition:$transition-hover;
            -o-transition:$transition-hover;
            -moz-transition:$transition-hover;
		}
	}
}

table{
	text-align:left;
	tbody{
		text-align:left;
		tr{
			text-align:left;
			td{
				text-align:left;
			}
			th{
				text-align:left;
			}
		}
	}
}