.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
    transition:$transition-hover;
	-webkit-transition:$transition-hover;
	-o-transition:$transition-hover;
	-moz-transition:$transition-hover;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: $primary-color;
    border-color: $primary-color;
}
.btn-primary .badge {
    color: $primary-color;
    background-color: #fff;
}
.btn-xl {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    font-size: 18px;
    padding: 20px 40px;
    transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
	@media(max-width: $screen-xs-max){
		padding:1em;
		font-size:1em;
	}
}
.intro-btn-book{
	width:100%;
	background-color:$primary-color;
	border-color:$primary-color;
	&:hover{
		background-color:$secondary-color !important;
		border-color:$secondary-color !important;
	}
}
.intro-btn-call{
	background-color:$secondary-color;
	border-color:$secondary-color;
	&:hover{
		background-color:$primary-color !important;
		border-color:$primary-color !important;
	}
}
.intro-btn-price{
	background-color:$secondary-color;
	border-color:$secondary-color;
	border-left-color:$grey-color;
	&:hover{
		background-color:$primary-color !important;
		border-color:$primary-color !important;
		border-left-color:$grey-color !important;
	}
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
    transition:$transition-hover;
	-webkit-transition:$transition-hover;
	-o-transition:$transition-hover;
	-moz-transition:$transition-hover;
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
    transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: $primary-color;
    border-color: $primary-color;
    transition:$transition-hover;
	-webkit-transition:$transition-hover;
	-o-transition:$transition-hover;
	-moz-transition:$transition-hover;
}
.btn-xl .badge {
    color: $primary-color;
    background-color: #fff;
}

ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: $primary-color;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0;
}
.form-step-two .form-submit,.form-step-two .form-return{
	width:50%;
	float:left;
}
.form-return{
	background-color:$grey-color !important;
	color:$dark-color !important;
	&:hover{
		background-color: $secondary-color !important;
		color:$light-color !important;
	}
}
.form-price-button{
	width:100%;
	float:left;
}
.form-delete{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background:transparent;
	border-radius: 0px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $primary-color;
	font-size: 1em;
	border: none;
	text-decoration: none;
	transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
	&:hover{
		text-decoration:underline;
		color:$secondary-color;
		transition:$transition-hover;
		-webkit-transition:$transition-hover;
		-o-transition:$transition-hover;
		-moz-transition:$transition-hover;
	}
	&:focus{
    	outline: 0;
	}
}