.form-control{
	border-radius:0 !important;
	min-height: 3.25em !important;
	-webkit-appearance: none;
}
.form-control:focus{
	outline:0;
	border-color:#ccc;
	box-shadow: none;
}
.form-control:active{
	outline:0;
	border-color:#ccc;
	box-shadow: none;
}
.form-submit,.form-return{
	background-color:$primary-color;
	color:#FFF;
	border:0;
	text-transform: uppercase;
	transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
}
.form-submit:hover,.form-return:hover{
	background-color:$secondary-color;
	transition:$transition-hover;
	-webkit-transition:$transition-hover;
	-o-transition:$transition-hover;
	-moz-transition:$transition-hover;
}
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .open>.dropdown-toggle.datepicker table tr td.active, .open>.dropdown-toggle.datepicker table tr td.active.highlighted,.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .open>.dropdown-toggle.datepicker table tr td.active:hover, .open>.dropdown-toggle.datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .open>.dropdown-toggle.datepicker table tr td.active:focus, .open>.dropdown-toggle.datepicker table tr td.active.highlighted:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus, .open>.dropdown-toggle.datepicker table tr td.active.focus, .open>.dropdown-toggle.datepicker table tr td.active.highlighted.focus,.datepicker table tr td.today:active, .datepicker table tr td.today.active, .open>.dropdown-toggle.datepicker table tr td.today,.datepicker table tr td.today:focus, .datepicker table tr td.today.focus,.datepicker table tr td.today:active:hover, .datepicker table tr td.today.active:hover, .open>.dropdown-toggle.datepicker table tr td.today:hover, .datepicker table tr td.today:active:focus, .datepicker table tr td.today.active:focus, .open>.dropdown-toggle.datepicker table tr td.today:focus, .datepicker table tr td.today:active.focus, .datepicker table tr td.today.active.focus, .open>.dropdown-toggle.datepicker table tr td.today.focus{
	background-color:$secondary-color;
	border-color:$secondary-color;
}

.input-daterange{
	padding-top:1em;
}

.datepicker table tr td.today{
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover{
		background-color: $secondary-color;
		border-color: $secondary-color;
	}
}