body {
    overflow-x: hidden;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section{
    @media(min-width: 1600px){
        font-size:110%;
    }
}
nav{
    @media(min-width: 1600px){
        font-size:130%;
    }
}
p {
    font-size: 1em;
    line-height: 1.75;
}
p.large {
    font-size: 1.1em;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
a {
    color: $primary-color;
    transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
}
a:hover, a:focus, a:active, a.active {
    color: $secondary-color;
    transition:$transition-hover;
	-webkit-transition:$transition-hover;
	-o-transition:$transition-hover;
	-moz-transition:$transition-hover;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.text-muted {
    color: #777;
}
.text-primary {
    color: $primary-color;
}
.img-centered {
    margin: 0 auto;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.bg-darkest-gray {
    background-color: #222;
}

::-moz-selection {
    text-shadow: none;
    background: $primary-color;
}
::selection {
    text-shadow: none;
    background: $primary-color;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: $primary-color;
}

h4{
	color:$primary-color;
}