$primary-color : #6AB2DC;
$secondary-color :#0869A2;

$dark-color : #000;
$light-color : #FFF;

$grey-color : #CCC;
$grey-light-color : #f7f7f7;
$grey-dark-color: #222222;

$transition : all .8s ease;

$transition-hover : all .2s ease;