header {
    background-image: url(../img/backgrounds/header.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
    font-family: "Lato" ,"Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-style: italic;
    font-size: 1.2em;
    font-weight:100;
    line-height: 22px;
    margin-bottom: 25px;
    @media(max-width:$screen-xs-max){
    	font-size:1.5em;
    	margin-bottom: 0.3em;
    }
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    @media(max-width:$screen-xs-max){
    	font-size:2.7em;
    }
}
@media (min-width:768px) {
    header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
}
header .intro-text .intro-lead-in {
    font-family: "Lato" ,"Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}
}
.intro-buttons.bottom{
	margin-bottom:2em;
}