.navbar-default {
    background-color: #222;
    border-color: transparent;
    transition: all .5s ease !important;
    -webkit-transition: all .5s ease !important;
    -moz-transition: all .5s ease !important;
    -o-transition: all .5s ease !important;
}
.navbar-default .navbar-brand {
	font-size:2em;
    color: $primary-color;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, cursive;
    font-weight:100;
    text-transform: uppercase;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: $secondary-color;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle {
    background-color: $primary-color;
    border-color: $primary-color;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $primary-color;
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000;
    transition:$transition;
	-webkit-transition:$transition;
	-o-transition:$transition;
	-moz-transition:$transition;
	@media(max-width: $screen-md-max){
		color: $primary-color;
	}
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: $primary-color;
    outline: 0;
    transition:$transition-hover;
	-webkit-transition:$transition-hover;
	-o-transition:$transition-hover;
	-moz-transition:$transition-hover;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: $primary-color;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color:$primary-color;
}
@media (min-width:768px) {
    .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
}
.navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
}
.navbar-default.navbar-shrink {
    background-color: #FFF;
    padding: 10px 0;
}
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}
}